@{
    ViewData["Title"] = "Home Page";
}

@model Ejercicio1.Models.IndexVM

<div class="text-center">
    
    <form>
        @*<input type="hidden" name="idPersona" value="@Model.Opersona.IdPersona"/>*@
        <table>
            <tr>
                <td>Nombre: </td>
                <td><input type="text" name="nombre" /></td>
            </tr>
            <tr>
                <td>Apellidos: </td>
                <td>@Html.TextBoxFor(m => m.Opersona.Apellidos)</td>
            </tr>
            <tr>
                <td>Fecha de nacimiento: </td>
                <td>@Html.TextBoxFor(m => m.Opersona.FechaNacimiento)</td>
            </tr>
            <tr>
                <td>Dirección: </td>
                <td>@Html.TextBoxFor(m => m.Opersona.Direccion)</td>
            </tr>
            <tr>
                <td>Teléfono: </td>
                <td>@Html.TextBoxFor(m => m.Opersona.Telefono)</td>
            </tr>
        </table>
        <input type="submit"/>
    </form>

</div>
